strict-peer-dependencies=false
auto-install-peers=true
@do:registry=https://hub.designorder.cn/
@do-cache:registry=https://hub.designorder.cn/
@do-design:registry=https://hub.designorder.cn/
@do-math:registry=https://hub.designorder.cn/
@do-gltf-handler:registry=https://hub.designorder.cn/
@do-types:registry=https://hub.designorder.cn/
@do-lib:registry=https://hub.designorder.cn/repository/npm-hosted/
